<article class="item">
    <div class="item-section">
        <div class="item-content">
            <img src="{{picture_url}}" width="100px" height="100px" class="profile-avatar">
            <h1 class="item-title">Name: {{name}} </h1>
            <span>{{pet_type}}</span>
            <h2>Age: <b>{{age}}</b></h2>
            <span>City: <b>{{user.city}}</b></span>
            <span>Owner: <b>{{user.username}}</b></span>
        </div>
    </div>
</article>